@font-face {
  font-family: 'Monument Grotesk';
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/ABCMonumentGrotesk-Regular.woff2") format('woff2'), url("../assets/fonts/ABCMonumentGrotesk-Regular.woff") format('woff');
}