@import "./mixins.scss";

.pointer-events-all {
  pointer-events: all;
}

.pointer-events-none {
  pointer-events: none;
}

.v-hide {
  pointer-events: none;
  opacity: 0;
}

.hide-on-mobile {
  @include until($tablet) {
    display: none;
  };
}

.hide-on-desktop {
  @include from($tablet) {
    display: none;
  };
}

.center-all {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-horizontal {
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex-center-h {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.relative {
  position: relative;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */

.hide-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

[style*="--aspect-ratio"] > :first-child {
  width: 100%;
}

[style*="--aspect-ratio"] > img {
  height: auto;
}
@supports (--custom:property) {
  [style*="--aspect-ratio"] {
    position: relative;
  }

  [style*="--aspect-ratio"]::before {
    content: "";
    display: block;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
  }

  [style*="--aspect-ratio"] > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
}